<div class="wrapper">

    <mat-card class="card">

        <mat-card-title>
            <h4> <strong>New User</strong> </h4>
            <hr>
        </mat-card-title>

        <mat-card-content>
            <form [formGroup]="addUserForm" (submit)="createUser()">
                <div class="content">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name" value="">

                            <mat-error
                                *ngIf="addUserForm.controls['name'].errors && addUserForm.controls['name'].hasError('required')">
                                Name is required
                            </mat-error>
                            <mat-error
                                *ngIf="addUserForm.controls['name'].errors && addUserForm.controls['name'].hasError('minlength')">
                                min 3 alphabets required
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input value="" matInput placeholder="Email" formControlName="email">

                            <mat-error
                                *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].hasError('required')">
                                Email is required
                            </mat-error>
                            <mat-error
                                *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].hasError('email')">
                                Email is invalid
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Role</mat-label>
                            <input value="" matInput placeholder="Role" formControlName="role">

                            <mat-error
                                *ngIf="addUserForm.controls['role'].errors && addUserForm.controls['role'].hasError('required')">
                                Role is required
                            </mat-error>
                            <mat-error
                                *ngIf="addUserForm.controls['role'].errors && addUserForm.controls['role'].hasError('minlength')">
                                min 3 alphabets required
                            </mat-error>
                        </mat-form-field>
                    </p>
                </div>
                <p>
                    <button mat-raised-button color="accent" [disabled]="!addUserForm.valid">Submit</button>
                </p>

            </form>
        </mat-card-content>
    </mat-card>

</div>