@media (min-width:700px){

.wrapper{
      display: flex;
      align-items: flex-start;
      
}
.content{
  display: flex;
  width: 100%;
  flex: 5;
  justify-content: stretch;
  
}
}
  h1{
    margin: 10px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

  th{
      background-color: black;
      color: burlywood;
      text-shadow: 1px 5px 3px rgb(187, 16, 16), 50px 20px 10p #bd7b7b,
                    50px 20px 60px #b12, 50px 20px 60px #ccd4eb ;
    letter-spacing: 1px;              
  }

  td{
      background-color: rgb(230, 219, 219);
  }
 
    .search{        
      flex: 1;
      order: 3;
    }
    .sort{
      flex: 1;
      order: 2;
      margin-top: 30px;
    }
    .title{
        flex: 5;
        order: 1;
    }

    

    table{
    width: 97%;
    
    }